@import './../../../../styles.scss';

/* layout */

:host {
    font-family: $btn_font;
    font-size: 16px;
    line-height: normal;
    // color: #09f;
    overflow: hidden;
    position: relative;
}

:host /deep/ {

    span {
        padding: 0;
    }

    span.w10 {
        font-size: 280%;
    }

    span.w9 {
        font-size: 260%;
    }

    span.w8 {
        font-size: 240%;
    }

    span.w7 {
        font-size: 220%;
    }

    span.w6 {
        font-size: 200%;
    }

    span.w5 {
        font-size: 180%;
    }

    span.w4 {
        font-size: 160%;
    }

    span.w3 {
        font-size: 140%;
    }

    span.w2 {
        font-size: 120%;
    }

    span.w1 {
        font-size: 100%;
    }

    span:hover {
        transform: scale(1.05);
        z-index: 999;
    }

    /* colors */

    a {
        display: inline-block;
        color: $text_color !important;
        background: white;
        padding: 0 1ch;
        border: 1px solid $back_color;
        box-shadow: 0px 3px 5px -1px $back_color;
    }

    span.w10 {
        color: $back_color * 0.9 + $highlight * 0.1;
    }

    span.w9 {
        color: $back_color * 0.8 + $highlight * 0.2;
    }

    span.w8 {
        color: $back_color * 0.7 + $highlight * 0.3;
    }

    span.w7 {
        color: $back_color * 0.6 + $highlight * 0.4;
    }

    span.w6 {
        color: $back_color * 0.5 + $highlight * 0.5
    }

    span.w5 {
        color: $back_color * 0.4 + $highlight * 0.6;
    }

    span.w4 {
        color: $back_color * 0.3 + $highlight * 0.7;
    }

    span.w3 {
        color: $back_color * 0.2 + $highlight * 0.8;
    }

    span.w2 {
        color: $back_color * 0.1 + $highlight * 0.9;
    }

    span.w1 {
        color: $highlight;
    }

}