@import "../../styles.scss";
$nav-hight: 100px;
$nav-hight-mobile: 60px;

// *************************** LOGO section

.logo-container {
    height: $nav-hight;
    // overflow: hidden;
}

.logo {
    transition: all 0.3s ease;
    width: $nav-hight;
    margin: 10px 0 0 15px;
    box-shadow: 1px 5px 15px 2px rgba(20, 20, 20, 0.4);
    // margin-top: $nav-hight / 3;
    // margin-left: 2.5vw;
/*    &.bigLogo {
        width: $nav-hight * 3;
        margin-top: -($nav-hight / 6);
    }*/
}

/*.logo-square {
    width: $nav-hight;
    height: $nav-hight;
    opacity: 0;
    transition: opacity 0.3s linear;
    position: absolute;
    top: 0;
}*/

@media screen and (max-width: $breakpoint_tablet) {
    .logo-container {
        height: $nav-hight-mobile;
        // overflow: hidden;
    }
    .logo {
        // transition: all 0.3s ease;
        width: $nav-hight-mobile;
        margin: 0 0 0 15px;
        box-shadow: 0;
        // margin-top: $nav-hight-mobile / 3;
/*        &.bigLogo {
            width: $nav-hight-mobile * 3;
            margin-top: -($nav-hight-mobile / 10);
        }*/
    }
/*    .logo-square {
        width: $nav-hight-mobile;
        height: $nav-hight-mobile;
        opacity: 0;
        transition: opacity 0.3s linear;
        position: absolute;
        left: 0;
        top: 0;
    }*/
}

// *************************** nav bar section

.navbar-pdis {
    background: linear-gradient(to bottom, #FFFFFF, #EFEFEF);
    background: -moz-linear-gradient(to bottom, #FFFFFF, #EFEFEF);
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #EFEFEF);
    border: 0;
    // top: 5px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);
    transition: top 0.3s ease;
}

.header-line {
    background-color: $back_color;
    height: 5px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1030;
}

.nav-item {
    border-left: solid 3px;
    color: $back_color;
    margin: 20px 0;
    padding: 0 30px 0 5px;
    font-size: 1.25rem;
    font-family: $btn_font;
    white-space: pre-line;
}

.nav-item:hover, .nav-item:focus, .nav-item:active {
    color: $highlight;
    background-color: transparent;
}

.nav-container {
    max-width: $max_width;
    margin: 0 auto;
}

#navbar li{
// ************************* sub layer nav list
    position: relative;

    .nav-item+ul.nav-child{
        // display: none;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease;

        position: absolute;
        top: 80%;
        padding: 0;
        list-style: none;
        color: $back_color;
        background-color: #F4F4F4;

        a.nav-item{
            display: block;
            margin: 0;
        }
    }

    .nav-item:hover+ul.nav-child, .nav-item+ul.nav-child:hover{
        // display: block;
        max-height: 8em; /* used to hide ul instead of display:none */
        color: $highlight;
    }
}



@media screen and (max-width: $breakpoint_tablet) {

    .icon-bar {
        background-color: $back_color;
    }
    .navbar-toggle {
        margin-top: ($nav-hight-mobile - 34px) / 2;
    }
    .navbar-nav {
        margin: 0 -15px;
    }
    .nav>li {
        border-top: solid 1px #999
    }
    .nav-item {
        margin: 20px;
        white-space: nowrap;
    }
    .navbar-collapse {
        border: 0px;
    }

    #navbar li{
    // ************************* sub layer nav list
        // position: relative;

        .nav-item+ul.nav-child{
            // display: block;
            max-height: 8em; /* used to hide ul instead of display:none */
            // position: absolute;
            top: initial;
            bottom: 0;
            left: 10em;
            width: 50%;
            // padding: 0;
            // list-style: none;
            // color: $back_color;
            background-color: transparent;
            
            li{
                display: inline-block;
            }
        }
    }
}
