<div class="header-line"></div>
<nav class="navbar navbar-fixed-top navbar-pdis" [style.top]="showNav ? '5px' : '-100px'">
  <div class="nav-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button  #test type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo-container">
        <!--<img [style.opacity]="bigLogo ? 1:0" class="logo" src="../../assets/img/PDIS-logo-revised-color.png" alt="">-->
        <img class="logo" [ngClass]="{'bigLogo': bigLogo}" src="../../assets/img/PDIS-logo-revised-color.png" alt="">
        <!--<img [style.opacity]="bigLogo ? 0:1" class="logo-square" src="../../assets/img/logo-01.svg" alt="">-->
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar" class="collapse navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/what-we-do']" class="nav-item"><!-- 
       -->WHAT
          WE
          DO
          </a>
        </li>
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/how-we-work']" class="nav-item"><!-- 
       -->HOW
          WE
          WORK
          </a>
          <ul class="nav-child">
            <li><a [routerLinkActive]="['active']" [routerLink]="['/how-we-work']" class="nav-item"><!-- 
         -->
            TRACKS

            </a></li>
            <li><a [routerLinkActive]="['active']" [routerLink]="['/how-we-work/tools']" class="nav-item"><!-- 
         -->
            TOOLS

            </a></li>
          </ul>
        </li>
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/get-involved']" class="nav-item"><!-- 
       -->GET
          INVOLVED

          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
