<a id="top" href="#" role="button" (click)="goAnchor('top')"> <i class="fa fa-arrow-up"></i> </a>

<nav class="site-nav" [ngClass]="(showNav) ? '' : 'hidenav'">
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="/assets/img/pdis-logo-final-inverse.png" alt="logo"></a>
  </div>
  <div class="menu">
    <ul>
      <li>
        <a [routerLinkActive]="['active']" [routerLink]="['/what-we-do']">WHAT WE DO</a>
      </li>
      <li>
        <!--<a [routerLinkActive]="['active']" [routerLink]="['/how-we-work']">HOW WE WORK</a>-->
        <a [routerLinkActive]="['active']" (click)='toggle($event)'>HOW WE WORK</a>
        <ul>
          <li>
            <a [routerLinkActive]="['active']" [routerLink]="['/how-we-work/tracks']">Tracks</a>
          </li>
          <li>
            <a [routerLinkActive]="['active']" [routerLink]="['/how-we-work/tools']">Tools</a>
          </li>
        </ul>
      </li>
     <!-- <li>
        <a [routerLinkActive]="['active']" [routerLink]="['/get-involved']">GET INVOLVED</a>
      </li>-->
      <li>
        <a [routerLinkActive]="['active']" [routerLink]="['/who-we-are']">WHO WE ARE</a>
      </li>
    </ul>
  </div>
</nav>
<!--
<div class="header-line"></div>
<nav class="navbar navbar-fixed-top navbar-pdis" [style.top]="showNav ? '5px' : '-115px'">
  <div class="nav-container">
    <div class="navbar-header">
      <button #mobileBtn type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo-container">
        <a [routerLink]="['/']">
          <img class="logo" src="/assets/img/pdis-logo-final-inverse.png" alt="logo" />
        </a>
      </div>
    </div>
    <div #navbar id="navbar" class="collapse navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/what-we-do']" class="nav-item">WHAT
          WE
          DO
          </a>
        </li>
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/how-we-work']" class="nav-item">HOW
          WE
          WORK
          </a>
          <ul class="nav-child">
            <li><a [routerLinkActive]="['active']" [routerLink]="['/how-we-work/tracks']" class="nav-item">
            TRACKS
            </a></li>
            <li><a [routerLinkActive]="['active']" [routerLink]="['/how-we-work/tools']" class="nav-item">
            TOOLS
            </a></li>
          </ul>
        </li>
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/get-involved']" class="nav-item">GET
          INVOLVED
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->
