<footer>

    <div class="container">

        <div class="content">
            <h2 class='header'>Projects</h2>
            <ul>
                <li> <a target="_blank" href="https://github.com/PDIS/web">PDIS-Site Project</a> </li>
                <li> <a target="_blank" href="https://github.com/PDIS/tools-manage-sandstorm">Sandstorm Tools</a> </li>
                <li> <a target="_blank" href="https://github.com/PDIS/swagger_file">API Sketches</a> </li>
            </ul>
        </div>

        <div class="content">
            <h2 class='header'>Media</h2>
            <ul>
                <li> <a target="_blank" href="https://www.facebook.com/shu.w.zhengwei">Facebook</a> </li>
                <li> <a target="_blank" href="https://twitter.com/TaiwanPDIS">Twitter</a> </li>
                <li> <a target="_blank" href="https://www.youtube.com/channel/UCExDf4hkbSU-pmJcyT_sDtg">YouTube</a> </li>
            </ul>
        </div>

        <div class="content">
            <h2 class='header'>Forums</h2>
            <ul>
                <li> <a target="_blank" href="https://vtaiwan.tw/">vTaiwan</a> </li>
                <li> <a target="_blank" href="http://join.gov.tw/">JOIN.gov</a> </li>
                <li> <a target="_blank" href="https://talk.pdis.nat.gov.tw/">talk.PDIS</a> </li>
            </ul>
        </div>

        <div class="content feed">
            <h2 class='header'>News</h2>
            <ul class="rss">
                <li class="item" *ngFor="let item of rss | slice:0:3">
                    <a [href]="item.link | replacePipe" target="_blank">
                        <h3 class="title" [innerHTML]="item.title"></h3>
                    </a>
                    <p class="content" [innerHTML]="item.content"></p>
                    <div class="date" [innerHTML]="item.pubDate"></div>
                </li>
            </ul>
        </div>

    </div>

    <div class="footer">

        <a target="_blank" href="https://github.com/pdis/web"> <i class="fa fa-3x fa-github"></i> </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCExDf4hkbSU-pmJcyT_sDtg"> <i class="fa fa-3x fa-youtube-play"></i> </a>
        <a href="/"> <img src="/assets/img/pdis-logo-final-inverse.png" alt="logo" class="img-circle" /> </a>
        <a target="_blank" href="https://twitter.com/TaiwanPDIS"> <i class="fa fa-3x fa-twitter"></i> </a>
        <a target="_blank" href="https://www.facebook.com/shu.w.zhengwei"> <i class="fa fa-3x fa-facebook"></i> </a>

    </div>

</footer>