@import "../../styles.scss";

footer {

    max-width: $max_width;
    margin: 1em auto;

    .container {

        padding: 0;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;

        .content {
            flex: 1 1 0px;
            padding: 0;

            @media screen and (max-width: $breakpoint_tablet) {
                flex: 1 1 100%;
            }

            &.feed {
                flex: 2 1 0px;
                iframe {
                    border: 0;
                    width: 100%; /* override iframe's width */
                    height: 255px; /* hide iframe's mark */
                    overflow: hidden;
                }
            }

            h1 {
                text-align: center;
                background: $sheet_color;
                color: $back_color;
                font-size: 3rem;
                font-weight: 700;
                border-right: 1px solid $back_color;
            }
            &:last-child {
                h1 {
                    border-right: 0;
                }
            }

            ul {
                margin: 0 0 1em 0;
                padding: 0 1em;
                list-style: none;

                li {
                    line-height: 2em;
                    position: relative;

                    &::before {
                        content: "";
                        border-color: transparent $sheet_color;
                        border-style: solid;
                        border-width: 0.25em 0 0.25em 0.25em;
                        display: block;
                        height: 0;
                        width: 0;
                        top: .75em;
                        left: -1ex;
                        position: absolute;

                        @media screen and (max-width: $breakpoint_tablet) {
                            display: none;
                        }
                    }

                    &:hover::before {
                        border-color: transparent $highlight;
                        transition: all 0.3s ease;
                    }

                    a {
                        display: block;
                        color: $sheet_color;

                        @media screen and (max-width: $breakpoint_tablet) {
                            text-align: center;
                        }

                        &:hover {
                            color: $highlight;
                        }
                    }
                }
            }
            
        }
    }

    .footer{
        text-align: center;
        a {
            color: gray;
            text-decoration: none;
            padding: 0 .5em;
            &:hover {
                color: lightgray;
            }
            img {
                width: 50px;
                vertical-align: bottom;
            }
        }
    }
}