@import "../../styles.scss";

footer {

    max-width: $max_width;
    margin: 1em auto 0 auto;
    background: $sheet_color;

    .container {

        padding: 0;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        @media screen and (max-width: $breakpoint_tablet) {
            flex-flow: column nowrap;
        }
        justify-content: center;
        align-items: stretch;

        .content {
            flex: 1 1 0px;
            padding: 0;

            .header {
                margin-top: 20px;
                text-align: center;
                //background: $sheet_color;
                //color: $back_color;
                // font-size: 3rem;
                // font-weight: 700;
                border-right: 1px solid $back_color;
                @media screen and (max-width: $breakpoint_tablet) {
                    border-right: 0;
                }
            }
            &:last-child {
                h1 {
                    border-right: 0;
                }
            }

            ul {
                // margin: 0 0 1em 0;
                list-style: none;
                padding: 0;

                li {
                    line-height: 2em;
                    position: relative;
                    text-align: center;
                    padding: 0 1em;
                    a {
                        display: block;
                        //color: $sheet_color;
                    }
                }
            }

            &.feed {
                flex: 2 1 0px;
                .rss {
                    padding: 0 1em;
                    // height: 20em;
                    // @media screen and (max-width: $breakpoint_tablet) {
                    //     height: auto;
                    // }
                    overflow: auto;
                    .item{
                        margin: 0 0 1em 0;
                        display: inline-block;
                        border-bottom: 1px solid lightgray;
                        text-align: left;
                        &:last-of-type{
                            border-bottom: 0;
                        }
                        .title{
                            font-weight: normal;
                        }
                        .content {
                            color: $text_color;
                        }
                        .date{
                            color: $text_color;
                            font-family: monospace;
                            font-size: 80%;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    .footer{
        padding: 1em 0;
        text-align: center;
        a {
            color: black;
            opacity: 0.5;
            text-decoration: none;
            padding: 0 .5em;
            &:hover {
                opacity: 1;
            }
            img {
                width: 3em;
                vertical-align: bottom;
            }
        }
    }
}
