<div class="main-container">

	<div class="slogan-container">

		<div class="slogan">

			<span>
				We are commited to open our work process
				<br>
				See below the <span class="highlight">tools</span> we use everyday
			</span>

		</div>
	</div>

	<hr class="section-line" />

	<h2>Tools</h2>

	<!-- the blocks of tools -->
	<div *ngIf="tools_list" class="thumb-container clearfix">

		<div *ngFor="let post of tools_list['post_stream'].posts" class="thumb" [innerHTML]="post.cooked">

			<!-- <div class="col-sm-4 col-md-3 col-lg-2 thumb" [innerHTML]="post.cooked"></div> -->
			
		</div>
	</div>

	<hr class="section-line" />

	<!-- the desc of tools -->
	<div class="topic-container"> 
		<div class="topic-right">

			<div class="image">
				<img src="../../assets/img/civic-participation.jpeg" alt="">
			</div>

			<div class="text">

				<h4>Virtual Reality (VR)</h4>

				<p>Face-to-face deliberation is magical but could be unbalanced and messy, virtual reality technology immerses real minds in digital worlds and provides participants more access to assistance from technology. Check Audrey's video and imagine how virtual reality for civic participation works.<br>
				</p>
				
				<div class="lazyYT" data-youtube-id="EynGwOoxlSE" data-youtube-title="Virtual Reality for Civic Deliberation" data-width="480" data-height="270" data-parameters="feature=oembed&amp;wmode=opaque"></div>

			</div>
		</div>
	</div>

	<hr class="section-end" />

</div>
