<div class="main-container">

	<div class="slogan-container" id="particles">

		<div class="slogan">

			<span>
				We are commited to open our work process
				<br>
				See below the <span class="highlight">tools</span> we use everyday
			</span>

		</div>
	</div>

	<hr class="section-line" />

	<h2>Tools</h2>

	<!-- the blocks of tools -->
	<div *ngIf="tools_list" class="thumb-container clearfix">
		<div *ngFor="let post of tools_list['post_stream'].posts" class="thumb" [innerHTML]="post.cooked"></div>	
	</div>

	<hr class="section-line" />

	<!-- the detail of tools -->
	<div class="topics"> 

		<template ngFor [ngForOf]="tools_detail_list" let-post let-i="index" let-isLast="last" let-isOdd="odd">

			<!-- {i} -->
			<div class="topic-container" [ngClass]="{'topic-right':isOdd,'topic-left':!isOdd}">

				<div class="image">
					<img src="{{ post['img'] }}" alt="">
				</div>

				<div class="text">
					<h4>{{ post['title'] }}</h4>
					<p [innerHTML]="post['text']"></p>
					<p [innerHTML]="post['link']"></p>
				</div>

			</div>

			<hr class="section-dot" *ngIf="!isLast" /> 

  		</template>

	</div>

	<hr class="section-end" />

</div>
