@import "../../../styles.scss";

h2{
	text-align: center;
	font-weight: 700;
}

h4 {
    font-weight: 700;
}

img{
    max-width:100%;
    // max-height:100%;
    height: auto;
    // width:auto;
}

// ******************** slogan section

.slogan-container {
    position: relative;
    text-align: center;
}

.slogan {
    position: relative;
    font-family: $slogan_font;
    font-size: 5rem;
    padding: 3em 0;
    z-index: 100;
    @media screen and (max-width: $breakpoint_tablet) {
        font-size: 3rem;
    }
}

.slogan-btn {
    position: relative;
    padding: 3rem;
    z-index: 100;
}

/*-----------------thumb------------------*/

ul.thumb-container{
    margin: auto;
    padding: 0;
    width: 60%;
    text-align: center;

    li.thumb{
        display: inline-block;
        margin: 3px;
        padding: 10px;
        width: 30%;
        height: 14em; /* not sure */
        text-align: center;
        vertical-align: top;
        background-color: #FFFFFF;
        // border-radius: 10px;
        overflow: hidden;
    }
}

@media screen and (max-width: $breakpoint_tablet) {

    ul.thumb-container{
        width: 100%;

        li.thumb{
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

/*-----------------topic------------------*/

.topic-container {
    position: relative;

    .text {
        position: relative;
        // width: 40vw;
        max-width: $max_width * 0.5;
        display: inline-block;
        margin: 0;
        z-index: 100;
        background-color: #FFFFFF;
        opacity: 0.9;
        padding: 2.5vw;
        text-align: left;
    }

    .image {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40vw;
        max-width: $max_width * 0.5;
        margin: 2.5vw 0;
        z-index: 10;
        overflow: hidden;
        display: inline-flex;
        align-items: center;

        img{
            margin: 0 auto;
        }
    }
}

.topic-left {
    text-align: left;
    position: relative;

    .image {
        right: 0;
    }
}

.topic-right {
    text-align: right;
    position: relative;

    .image {
        left: 0;
    }
}

@media screen and (max-width: $breakpoint_tablet) {

    .topic-container {
        width: 100%;
        display: flex;
        .text {
            width: 100%;
            margin: 0;
            max-width: $max_width;
        }
        .image {
            width: 100%;
            height: 100%;
            margin: 0;
            max-width: $max_width;
        }
    }

    .topic-right {
        text-align: left;
    }
}
/*-----------------------------------*/