<div class="main-container">

	<div class="slogan-container">

		<div class="slogan">

			<span>
				We are commited to open our work process
				<br>
				See the timeline below and track how we work day by day:
			</span>

		</div>
	</div>

	<div class="section-line"></div>

	<div *ngIf="list" class="clearfix">

		<h2 class="thumbnail-text">Tools</h2>

		<div *ngFor="let post of list['post_stream'].posts">

			<div class="col-sm-4 col-md-3 col-lg-2 thumbnail-pdis" [innerHTML]="post.cooked"></div>
			
		</div>
	</div>
</div>
