    <!-- Begin Body -->

    <!-- MORE ABOUT PDIS ========================================== -->

    <div class="container-fluid">
        <div style="text-align: center;height: 250px;">
            <p class="" style=";font-size: 27px;padding-top:100px">
                We incubate and facilitate public digital innovation and service.
            </p>
        </div>
        <div style="height: 100px;">
            <a class="btn btn-lg btn-pdis pull-right" >More about PDIS</a>
        </div>
    </div>

    <!-- MORE ABOUT PDIS END ====================================== -->


    <!-- MORE ABOUT OPEN API ====================================== -->

    <div style="
        height: 720px;
        background-image: url('assets/img/open-api.jpeg');
        background-size: cover;
    ">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8 panel-pdis">
            <!--<h4>Open API</h4>-->
            <div *ngIf="item1">
              <div *ngFor="let post of item1.post_stream.posts; let first = first">
                <div *ngIf="first" [innerHTML]="post.cooked"></div>
              </div>
            </div>
            <a class="btn btn-lg btn-pdis " href="#" role="button">More about Open API</a>
        </div>
        <div class="col-md-3 col-sm-2"></div>
    </div>


    <!-- MORE ABOUT OPEN API END ====================================== -->

    <div style="height: 50px;"></div>

    <!-- MORE ABOUT CIVIC PARTICIPATION ====================================== -->

    <div style="
        height: 720px;
        background-image: url('assets/img/civic-participation.jpeg');
        background-size: cover;
    ">

        <div class="col-md-6 col-sm-8 panel-pdis">
            <!--<h4>Civic Participation</h4>-->
            <div *ngIf="item2">
              <div *ngFor="let post of item2.post_stream.posts; let first = first">
                <div *ngIf="first" [innerHTML]="post.cooked"></div>
              </div>
            </div>
            <a class="btn btn-lg btn-pdis" href="#" role="button">More about Civic​​ Participation</a>
        </div>
        <div class="col-md-6 col-sm-4"></div>
    </div>


    <!-- MORE ABOUT CIVIC PARTICIPATION END ====================================== -->

    <!-- THINK ABOUT =========================================== -->
    <div>
        <div class="col-md-4 col-sm-3"></div>
        <div class="panel-pdis col-md-4 col-sm-6" style="
                margin: -80px auto;
                text-align: center;
                position: relative;
                z-index: 0;
                float: none;
            ">
            <h2>Tell us what you think about</h2>
            <img src="assets/img/pdis-logo-08.png" alt="Generic placeholder image" width="254" height="90">
            <br>
            <input style="margin:10px 0 20px;width:90%" />
            <br>
            <a class="btn btn-lg btn-pdis-thin" href="#" role="button">Submit</a>
        </div>
        <div class="col-md-4 col-sm-3"></div>

    </div>

    <!-- THINK ABOUT END ====================================== -->

    <div style="
        height: 700px;
        background-image: url('assets/img/pdis-team.JPG');
        background-size: cover;
    ">
        <p class="pull-right" style="height: 700px;line-height: 700px;font-size: 20px;color: white;margin-right: 30px;text-decoration: underline;">
            Learn more on how we work...
        </p>
    </div>
