@import "../../styles.scss";

/*-----------------------------------*/

.slogan-container {
    text-align: center;
}

.slogan {
    font-size: 5rem;
    font-family: "Maiden Orange";
    padding: 100px 0 30px;
}

.slogan-btn {
    padding-bottom: 50px;
}


/*-----------------------------------*/

.topic-container {
    position: relative;
    .text {
        position: inherit;
        width: 50vw;
        max-width: $max_width * 0.5;
        display: inline-block;
        margin: 2.5vw 0;
        z-index: 2;
        background-color: white;
        opacity: 0.9;
        padding: 2.5vw;
        h1 {
            font-weight: 700;
        }
        h3 {
            font-style: italic;
        }
    }
    .image {
        position: absolute;
        width: 50vw;
        max-width: $max_width * 0.5;
        display: inline-block;
        margin: 5vw 0;
        z-index: 1;
        overflow: hidden;
        height: calc(100% - 10vw);
        display: inline-flex;
        align-items: center;
        img {
            width: 100%;
        }
    }
    .btn-pdis {
        margin-top: 15px;
    }
}

.topic-left {
    text-align: left;
    .image {
        right: 0;
    }
}

.topic-right {
    text-align: right;
    .image {
        left: 0;
    }
}


/*-----------------------------------*/

.tell-us-container {
    background-image: url(http://localhost:4200/assets/img/pdis-team.JPG);
    background-size: cover;
    margin: 2.5vw;
    padding: 2.5vw;
    text-align: center;
}

.tell-us-content {
    position: relative;
    background-color: white;
    opacity: 0.9;
    width: 50vw;
    display: inline-block;
    padding: 2.5vw;
    img {
        width: 50%
    }
    input {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 2.5vw;
        border: solid 1px black;
        height: 40px;
        font-size: 20pt;
    }
    h2 {
        font-family: 'noto serif';
        font-style: italic;
    }
}


/*-----------------------------------*/

@media screen and (max-width: 767px) {
    .topic-container {
        width: 100%;
        display: flex;
        .text {
            width: 100%;
            margin: 2.5vw 0;
            max-width: $max_width;
        }
        .image {
            width: 100%;
            height: calc(100% - 5vw);
            margin: 2.5vw 0;
            max-width: $max_width;
            img {
                height: 100%;
            }
        }
    }
    .topic-right {
        text-align: left;
    }
    .tell-us-container {
        background-image: url(http://localhost:4200/assets/img/pdis-team.JPG);
        background-size: cover;
        margin: 2.5vw 0;
        padding: 0px;
        text-align: center;
    }
    .tell-us-content {
        width: 100%
    }
    .main-container {
        background-color: #EFEFEF;
        box-shadow: 0 0 10px black;
        max-width: $max_width;
        margin: 90px auto 0;
    }
}