@import "../../styles.scss";

/*-----------------------------------*/

:host /deep/ .swiper-pagination-bullet-active{
    background: $link_color;
}

.swiper-container {
    margin: 0 -2.5vw;
    padding: 1em 50px;

    .swiper-wrapper{
        align-items: center;
    }

    .iframeWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
            overflow: hidden;
        }
    }

    .slogan-container {
        text-align: center;
        font-size: 5rem;
        @media screen and (max-width: $breakpoint_tablet) {
            font-size: 2.5rem;
        }
        .slogan {
            font-family: $slogan_font;
            padding: 2em 0;
        }
        .more {
            font-size: 40%;
            font-family: $btn_font;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }
}      

/*-----------------------------------*/

.topic-container {
    position: relative;
    display: flex;
    padding: 0 1em;
    &.topic-left {
        flex-flow: row;
        text-align: left;
    }
    &.topic-right {
        flex-flow: row-reverse;
        text-align: right;
    }
    .text {
        flex: 3;
        max-width: $max_width * 0.5;
        display: inline-block;
        margin: 0 -1em;
        z-index: 2;
        background-color: rgba(255,255,255,0.9);
        padding: 2.5vw;
    }
    .image {
        flex: 2;
        max-width: $max_width * 0.5;
        display: inline-block;
        margin: 2.5vw -1em;
        z-index: 1;
        overflow: hidden;
        height: calc(100% - 5vw);
        display: inline-flex;
        align-items: center;
    }
    .btn-pdis {
        margin-top: 15px;
    }
}



/*-----------------------------------*/

.tell-us-container {
    background-image: url("/assets/img/pdis-team.JPG");
    background-size: cover;
    margin: 0;
    padding: 2.5vw;
    text-align: center;
}

.tell-us-content {
    position: relative;
    background-color: rgba(255,255,255,0.9);
    display: inline-block;
    padding: 2.5vw;
    h2 {
        margin-bottom: 1em;
    }
    img {
        width: 30%;
    }
}

@media screen and (max-width: $breakpoint_tablet) {
    .topic-container {
        width: 100%;
        // display: flex;
        &.topic-left,
        &.topic-right {
            flex-flow: column;
        }
        .text {
            // width: 100%;
            margin: 0;
            // max-width: $max_width;
        }
        .image {
            // width: 100%;
            // height: 100%;
            margin: 0;
            // max-width: $max_width;
        }
    }

    .tell-us-container {
        .tell-us-content {
            // width: 100%
            h2 {
                font-size: 2rem;
                // margin-bottom: 1em;
            }
        }
    }

}