@import "../../styles.scss";

/*-----------------------------------*/

.slogan-container {
    text-align: center;
}

.slogan {
    font-size: 2.5rem;
    padding: 100px 0 30px;
}

.slogan-btn {
    padding-bottom: 50px;
}


/*-----------------------------------*/

.topic-container {
    // height: 550px;
    position: relative;
    .text {
        position: inherit;
        width: 50vw;
        display: inline-block;
        margin: 2.5vw;
        z-index: 2;
        background-color: white;
        opacity: 0.9;
        padding: 2.5vw;
    }
    .image {
        position: absolute;
        width: 50vw;
        display: inline-block;
        margin: 5vw 2.5vw;
        z-index: 1;
        overflow: hidden;
        height: calc(100% - 10vw);
        display: inline-flex;
        align-items: center;
        img {
            width: 100%;
        }
    }
    .btn-pdis{
        margin-top:15px;
    }
}

.topic-left {
    text-align: left;
    .text {
        margin-right: 2.5vw;
    }
    .image {
        right: 0;
    }
}

.topic-right{
    text-align: right;
    .text {
        margin-right: 2.5vw;
    }
    .image{
        left:0;
    }
}

/*-----------------------------------*/

.tell-us-container {
    background-image: url(http://localhost:4200/assets/img/pdis-team.JPG);
    background-size: cover;
    margin: 25px;
    padding: 2.5vw;
    text-align: center;
}

.tell-us-content {
    position: relative;
    background-color: white;
    opacity: 0.9;
    width: 50vw;
    display: inline-block;
    padding: 2.5vw;
    img {
        width: 50%
    }
    input {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 2.5vw;
        border: solid 1px black;
        height: 40px;
        font-size: 20pt;
    }
}


/*-----------------------------------*/