<div class="main-container">
    <div class="swiper-container">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
            <!-- Slide -->
            <div class="swiper-slide">
                <div class="slogan-container">
                    <p class="slogan">
                        <span>
                          We incubate and facilitate<br>
                          public digital <span class="highlight">innovation</span> and <span class="highlight">service</span>.
                        </span>
                    </p>
                    <p class="text-center">
                        <span class="more">
                            <a class="btn-pdis" href="#" role="button" (click)="goAnchor('#start')">MORE ABOUT PDIS</a>
                            <!--<i class="fa fa-3x fa-angle-down animated fadeOutDown infinite"></i>-->
                        </span>
                    </p>
                </div>
            </div>
            <!-- Slide -->
            <div class="swiper-slide">
                <div class="iframeWrapper">
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fshu.w.zhengwei%2Fvideos%2F225723507918927%2F%3Fl%3D598307961771178061&show_text=false&show_captions=true&appId" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
            <!-- Slide -->
            <div class="swiper-slide">
                <div class="iframeWrapper">
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fshu.w.zhengwei%2Fvideos%2F161981934293085%2F%3Fl%3D598307961771178061&show_text=false&show_captions=true&appId" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr id="start" class="section-line">

    <div *ngFor="let topic of topics; let i = index; let isOdd = odd ">
        <div class="topic-container" [ngClass]="{'topic-right':isOdd,'topic-left':!isOdd}">
            <div class="text">
                <h1>{{topic.title}}</h1>
                <div [innerHTML]="topic['text']"></div>
                <a class="btn-pdis" [routerLink]="'/what-we-do/'+topic.id" role="button">
                    More about {{topic.title}}
                </a>
            </div>
            <div class="image wow fadeInUp" [innerHTML]="topic['image']"></div>
        </div>

        <hr class="section-dot">

    </div>

    <div class="tell-us-container">
        <div class="tell-us-content">
            <h2>Tell us what you think about</h2>
            <img src="/assets/img/pdis-logo-final-clear.png" alt="">
            <textarea rows="5" class="think-area"></textarea>
            <button type="button" class="btn-pdis">SUBMIT</button>
        </div>
    </div>

</div>
