<div class="main-container">
  <div class="slogan-container" id="particles">
    <div class="slogan">
      <span>
        We incubate and facilitate
        <br>
        public digital <span class="highlight">innovation</span> and <span class="highlight">service</span>.
      </span>
    </div>
    <div class="slogan-btn">
      <button type="button" class="btn-pdis">MORE ABOUT PDIS</button>
    </div>
  </div>

  <div class="section-line"></div>

  <div *ngFor="let topic of topics; let i = index">
    <div class="topic-container" [ngClass]="{'topic-right':(i%2===1),'topic-left':(i%2===0)}">
      <div class="text">
        <h1>{{topic.title}}</h1>
        <div [innerHTML]="topic['text']"></div>
        <a class="btn-pdis" [routerLink]="'/what-we-do/'+topic.id" role="button">
        More about {{topic.title}}
      </a>
      </div>
      <div class="image" [innerHTML]="topic['image']"></div>
    </div>
    <div class="section-line"></div>
  </div>

  <div class="tell-us-container">
    <div class="tell-us-content">
      <h2>Tell us what you think about</h2>
      <img src="../../assets/img/pdis-logo-08.png" alt="">
      <input type="text" name="" value="">
      <button type="button" class="btn-pdis">SUBMIT</button>
    </div>
  </div>

  <div class="section-line"></div>

</div>