.slogan-container {
    text-align: center;
    height: calc(50vh - 180px);
}

.slogan {
    font-size: 27px;
    padding-top: calc(25vh - 100px)
}

.slogan-btn-container {
    height: 100px;
    text-align: center;
}

.btn-pdis {
    position: relative;
    margin-right: 30px;
    padding: 15px 20px;
    border-radius: 0px;
    border-color: black;
    border: 2px solid;
    color: #333;
}

.btn-pdis:hover {
    padding: 15px 20px;
    border-radius: 0px;
    border: 2px solid black;
    color: #fff;
    background-color: #000;
}

.btn-pdis-thin {
    padding: 5px 20px;
    border-radius: 0px;
    border-color: black;
    border: 2px solid;
    color: #333;
    background-color: #fff;
}

.btn-pdis-thin:hover {
    padding: 5px 20px;
    border-radius: 0px;
    border-color: black;
    border: 2px solid;
    color: #fff;
    background-color: #000;
}

.panel-pdis {
    background-color: rgb(238,238,228);
    padding: 25px;
    position: relative;
    z-index: 2;
    opacity: 0.9;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.open-api-background {
    height: 720px;
    background-image: url('assets/img/open-api.jpeg');
    background-size: cover;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.civic-participation-background {
    height: 720px;
    background-image: url('assets/img/civic-participation.jpeg');
    background-size: cover;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.learn-more-container {
    height: 700px;
    background-image: url('assets/img/pdis-team.JPG');
    background-size: cover;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.learn-more {
    height: 700px;
    line-height: 700px;
    font-size: 20px;
    color: white;
    margin-right: 30px;
    text-decoration: underline;
}

.think-about-container {
    margin: -150px auto;
    text-align: center;
    position: relative;
    z-index: 2;
    float: none;
}

input {
    margin: 10px 0 20px;
    width: 90%;
    font-size: 20px;
    padding-left: 10px;
}