.btn-pdis {
    position: relative;
    padding: 15px 20px;
    border-radius: 0px;
    border-color: black;
    border: 2px solid;
    color: #333;
}

.btn-pdis:hover {
    border: 2px solid black;
    color: #fff;
    background-color: #000;
}

input {
    margin: 10px 0 20px;
    width: 90%
}