@import "../../styles.scss";

.main-container{
    margin-bottom: 2.5vw;
}

.get-involved-container{
    text-align: center;
    padding-top: 2.5vw;
    margin-bottom: 2.5vw;
}

.think-area{
    width:90%;
    max-width: $max_width / 2;
}