<div class="main-container">
  <div class="row">
    <div class="col-md-12 col-sm-12 get-involved-container">
      <h3 class="desc">
        <em>Come to our forum at 
        <a class="link-pdis" target="_blank" href="https://talk.pdis.tw">talk.pdis.tw</a>
        </em>
      </h3>
      <h3 class="desc"><em>Or, tell us what you think about PDIS:</em></h3>
      <textarea rows="5" class="think-area" [(ngModel)]="think"></textarea>
      <div *ngIf="err" class="alert alert-danger" [innerHTML]="err" [hidden]="err.length==0">
      </div>
      <div *ngIf="res" class="alert alert-success" [innerHTML]="res.cooked + ' successfully sent'" [hidden]="res.length==0">
      </div>
      <a class="btn-pdis get-involved-button" role="button" (click)="postDataToServer(think)">SUBMIT</a>
    </div>
    <!--<h4>Comments</h4>
    <div class="get-involved-comments">
    </div>-->
  </div>
  <hr class="section-end">
</div>