<!-- Begin Body -->

<div class="container">
  <section>
    <div class="col-md-6">
      <h4>Come to our forum at <a class="link-pdis" target="_blank" href="https://talk.pdis.tw">talk.pdis.tw</a></h4>
      <h4>Or, tell us what you think about PDIS:</h4>
      <input [(ngModel)]="think" />
      <div *ngIf="err" class="alert alert-danger" [innerHTML]="err" [hidden]="err.length==0">
      </div>
      <div *ngIf="res" class="alert alert-success" [innerHTML]="res.cooked + ' successfully sent'" [hidden]="res.length==0">
      </div>
      <br><br>
      <a class="btn btn-pdis" role="button" (click)="postDataToServer(think)">Submit</a>
    </div>
  </section>
</div>