body{
    background-color: rgba(238,238,228,1);
}

p {
    font-family: 'Cormorant Garamond', serif;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {
    font-family: 'Cormorant Garamond', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    text-align: justify;
}

app-what-we-do h1, app-what-we-do h2, app-what-we-do h3, app-what-we-do h4, app-what-we-do h5 {
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    text-align: inherit;
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.thumbnail-pdis {
    text-align: center;
    color: #bababa;
}

.thumbnail-pdis p {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    border: 0px
}

.thumbnail-pdis p img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

input {
    width: 330px;
    height: 40px;
    border-color: #000000;
    border-width: 1px;
}

.link-pdis {
    text-decoration: underline;
    color: black;
}

@media screen and (max-width: 991px) {
  
  .img-container img {
    /*position: absolute;*/
    top: 10px;
    
    width: 100%;
    height: 100%;
    border:0px;
    }

    .video-container {
        padding-top: 65%;
    }
     
    .video-container iframe, .video-container object, .video-container embed {
        position: absolute;
        top: 10px;
        left: 5%;
        width: 90%;

        height: 90%;
        border:0px;
       

    }
   
}
/*.img-container {
    padding-top: 100%;

}*/


em img {
    float: right;
    margin-left: 20px;
}

strong img {
    float: left;
<<<<<<< HEAD
    margin-right: 20px;
     margin-top: 10px;
    
}
=======
    margin-right: 10px;
}
 ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
>>>>>>> 994911bc17d354a4c328d3771acd9fa56da11bb9
