.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs > li > a.active, .nav-tabs > li > a.active:focus, .nav-tabs > li > a.active:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #666;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #000000 !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #000000;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}