<div class="clearfix">
  <h2>Track.PDIS</h2>
  <div class="col-md-12">
    <!-- Nav tabs -->
    <div class="card">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Today</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Audio</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Video</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Transcript</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="timeline-centered">
            <article class="timeline-entry" *ngFor="let post of posts">
              <div class="timeline-entry-inner">
                <div class="timeline-icon bg-circle">
                  <i class="entypo-feather"></i>
                </div>
                <div class="timeline-label">
                  <h2>{{post.title}}</h2><p>{{post.date}}</p>
                  <blockquote>
                    <a *ngIf=" post.content.youtube != '' " target="_blank" href="{{post.content.youtube}}" class="btn btn-youtube" role="button">Youtube</a>
                    <a *ngIf=" post.content.transcript != '' " target="_blank" href="{{post.content.transcript}}" class="btn btn-transcript"
                      role="button">Transcript</a>
                    <a *ngIf=" post.content.soundcloud != '' " target="_blank" href="{{post.content.soundcloud}}" class="btn btn-soundcloud"
                      role="button">Soundcloud</a>
                  </blockquote>
                  <div class="movetoright">
                    <div class="participants">
                      <span class="glyphicon glyphicon-user"></span> {{post.participants}}
                    </div>
                  </div>
                  <div class="movetoright">
                    <span class="glyphicon glyphicon-tag"></span>
                    <span class="label label-info" *ngFor="let tag of post.tags ">{{tag}}</span>
                  </div>
                </div>
              </div>

            </article>

            <!--<article class="timeline-entry begin">

          <div class="timeline-entry-inner">

            <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
              <i class="entypo-flight"></i> +
            </div>

          </div>

        </article>-->

          </div>


          <!--</div>
          </div>-->
          <!--<div class="well" *ngFor="let post of posts">
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{post.title}}</h3><h4>{{post.date}}</h4></div>
                
              <div class="panel-body">
                <div *ngIf = " post.content.youtube != '' ">
                  <a target="_blank" href="{{post.content.youtube}}" class="btn btn-youtube" role="button">Youtube</a>
                </div>
                <div *ngIf = " post.content.transcript != '' ">
                  <a target="_blank" href="{{post.content.transcript}}" class="btn btn-transcript" role="button">Transcript</a>
                </div>
                <div *ngIf = " post.content.soundcloud != '' ">
                  <a target="_blank" href="{{post.content.soundcloud}}" class="btn btn-soundcloud" role="button">Soundcloud</a>
                </div>
                <div class="pull-right">
                  <div class="participants">
                <span class="glyphicon glyphicon-user"> 
                </span>
                    {{post.participants}}
                  </div>
                </div>
                <br>
                <div class="pull-right">
                  <span class="glyphicon glyphicon-tag"></span>
                  <span class="label label-info" *ngFor = "let tag of post.tags ">
                    {{tag}}
                  </span>
                </div>
              </div>
            </div>-->
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.</div>
        <div role="tabpanel" class="tab-pane" id="messages">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passage..
        </div>
      </div>
    </div>
  </div>
</div>