@import "../../../styles.scss";

$main-font-size: 22px;
$line-height-size:35px;

.detail-text{                              //設定 detailcomponent 文字及圖片樣式 
    font-size: $main-font-size;
    line-height: $line-height-size;
}

:host /deep/ .detail-text{
    
    p{                                      
        margin: 1em 0;
    }

    img, iframe {            
        border: 0;
        display: block;           
        margin: 0 auto;            
        max-width: 100%;
        // height: auto;
    }
    em img, em iframe {                     //img float right
        float: right;            
        max-width: 50%;
        height: auto;
        margin: 0 0 1em 1em;
    }
    strong img, strong iframe {             //img float left
        float: left;            
        max-width: 50%;
        height: auto;
        margin: 0 1em 1em 0;
    }
    dd{                                     //clean img float
        clear: left;
    }

    blockquote{                      
        position: relative;
        border-left: 0px;
    }
    blockquote::before{                     //blockquote { style
        content: "\007B";
        font-size: 8em;
        line-height: 100%;
        color: #DDDDDD;
        position: absolute;
        left: -50px;
        top: 1em;
    }
    blockquote::after{                      //blockquote } style
        content: "\007D";
        font-size: 8em;
        line-height: 100%;
        color: #DDDDDD;
        position: absolute;
        right: -30px;
        top: 1em;
    }
}

@media screen and (max-width: 1200px) {     //window size <1200px clean blockquote style
    :host /deep/ .detail-text{
        blockquote::after, blockquote::before{
            content: "";
        }
    }
}
@media screen and (max-width: 991px) {      //window size < 991px change to mobile

    :host /deep/ .detail-text{

        p, h2{
            margin: 1em 0.5em;
            word-break: break-word;
        }

        img, strong img, em img {
            max-width: 90%;
            margin: 0 5%;
        }
        span img{                           // the head of author       
            width: 40%;
            height: 40%;
        }
        iframe{
            width: 90%;
            height: 50vw;
        }
    }
}

@media screen and (min-width: 991px) {      //window size > 991px img 100%
/*    :host /deep/ .detail-container{
        img {
            width: 100%;
            height: 100%;
            border: 0px;
        }
    }*/
}