@import "../../../styles.scss";
$main-font-size: 22px;
$line-height-size: 35px;

//                              設定 detailcomponent 文字及圖片樣式

.title {
    text-align: center;
}

// .detail-text {
//     font-size: $main-font-size;
//     line-height: $line-height-size;
// }

:host /deep/ .detail-text {
    font-size: $main-font-size;
    line-height: $line-height-size;
    // h1, h2 {
    //     &::before {
    //         content: '\f178';
    //         font-family: FontAwesome;
    //         font-size: 1.5em;
    //         position: absolute;
    //         left: -2ch;
    //     }
    // }
    p {
        margin: 1em 0 1.5em 0;
    }
    img,
    iframe {
        border: 0;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    //                              img float right
    em img,
    em iframe {
        float: right;
        max-width: 50%;
        height: auto;
        margin: 0 0 1em 1em;
    }
    //                              img float left
    strong img,
    strong iframe {
        float: left;
        max-width: 50%;
        height: auto;
        margin: 0 1em 1em 0;
    }
    //                              clean img float
    dd {
        clear: left;
    }
    // blockquote {
    //     position: relative;
    //     border-left: 0px;
    // }
    // //                              blockquote { style
    // blockquote::before {
    //     content: "\007B";
    //     font-size: 8em;
    //     line-height: 100%;
    //     color: #DDDDDD;
    //     position: absolute;
    //     left: -50px;
    //     top: 2rem;
    // }
    // //                              blockquote } style
    // blockquote::after {
    //     content: "\007D";
    //     font-size: 8em;
    //     line-height: 100%;
    //     color: #DDDDDD;
    //     position: absolute;
    //     right: -30px;
    //     top: 2rem;
    // }
    .meta {
        display: none;
    }
}

//                                  window size < 1200px clean blockquote style
@media screen and (max-width: $breakpoint_tablet*1.56) {
     :host /deep/ .detail-text {
        blockquote::after,
        blockquote::before {
            content: "";
        }
    }
}

//                                  window size < 991px change to mobile
@media screen and (max-width: $breakpoint_tablet*1.29) {
     :host /deep/ .detail-text {
        p,
        h2 {
            margin: 1em 0.5em;
            word-break: break-word;
        }
        img,
        strong img,
        em img {
            max-width: 90%;
            margin: 0 5%;
        }
        //                          the head of author
        span img {
            width: 40%;
            height: 40%;
        }
        iframe {
            width: 90%;
            height: 50vw;
        }
    }
}

// @media screen and (min-width: 991px) {      //window size > 991px img 100%
//     :host /deep/ .detail-container{
//         img {
//             width: 100%;
//             height: 100%;
//             border: 0px;
//         }
//     }
// }