<!--imgheight > 0 for animate logo-->

<nav id="navbar" [attr.data-offset-top]="imgheight>0 ? imgheight : null" [attr.data-spy]="imgheight>0 ? 'affix' : null" class="{{navClass}}"  (mouseleave)='isCollapse=false'>

  <!--navbar for large screen-->
  <div class="xs-navbar-black">
    <button type="button" class="nav-btn-pdis navbar-toggle pull-right" (mouseenter)='isCollapse=true' (click)='isCollapse=!isCollapse'>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
    <div>
      <ul [class.in]="isCollapse" id="navbar-lg" class="collapse nav navbar-nav navbar-right">
        <li class="nav-item">
          <div>
            <a [routerLinkActive]="['active']" [routerLink]="['/what-we-do']">
                        WHAT WE DO
                      </a>
          </div>
        </li>
        <li class="nav-item">
          <div>
            <a [routerLinkActive]="['active']" [routerLink]="['/how-we-work']">
                        HOW WE WORK
                      </a>
          </div>
        </li>
        <li class="nav-item">
          <div>
            <a [routerLinkActive]="['active']" [routerLink]="['/get-involved']">
                        GET INVOLVED
                      </a>
          </div>
        </li>
      </ul>
    </div>


</nav>
<div class="container-fluid" [style.height]="imgheight>0 ? 0 : '90px'"></div>