<nav id="navbar" 
  [ngClass]="{'navbar-default': imgheight>0,'navbar-fixed-top affix': imgheight<0}"
  [attr.data-offset-top]="imgheight>0 ? imgheight : null"
  [attr.data-spy]="imgheight>0 ? 'affix' : null" 
  class="navbar navbar-clear" 
  style="background-color: #f5f5f5;"
>

  <!--navbar for large screen-->
  <button (mouseenter)='isCollapse=true' (mouseleave)='isCollapse=false' type="button" class=" nav-btn-pdis navbar-toggle pull-right"
    data-toggle="collapse" data-target="#navbar-lg" style="display:block;
            background-color: transparent;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>

  <div>
    <ul [class.in]="isCollapse" (mouseenter)='isCollapse=true' (mouseleave)='isCollapse=false' id="navbar-lg" class="collapse nav navbar-nav navbar-right">
      <li class="nav-item">
        <div>
          <a [routerLinkActive]="['active']" [routerLink]="['/what-we-do']">
                        WHAT WE DO
                      </a>
        </div>
      </li>
      <li class="nav-item">
        <div>
          <a [routerLinkActive]="['active']" [routerLink]="['/how-we-work']">
                        HOW WE WORK
                      </a>
        </div>
      </li>
      <li class="nav-item">
        <div>
          <a [routerLinkActive]="['active']" [routerLink]="['/get-involved']">
                        GET INVOLVED
                      </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid"></div>