@media screen and (max-width: 767px) {
    .xs-navbar-black {
        padding-bottom: 79px;
    }
    .nav-item div {
        padding: 10px 30px;
    }
    .nav-item div a.active{
        padding: 0px 0px 10px 10px;
        border-left: solid black;
        color: black;
        border-left-width: 4px;
        font-size: 10px;
    }
    .nav-item div a {
        padding: 0px 0px 10px 10px;
        border-left: solid white;
        color: white;
        border-left-width: 4px;
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
    .nav-item div {
        padding-top: 25px;
        padding-right: 15px;
        padding-bottom: 35px;
    }
    .nav-item div a {
        padding: 0px 0px 10px 10px;
        border-left: solid white;
        color: white;
        border-left-width: 4px;
        font-size: 10px;
    }
    .nav-item div a:hover {
        padding: 0px 0px 10px 10px;
        border-left: solid black;
        color: black;
        border-left-width: 4px;
        font-size: 10px;
    }
    .nav-item div a.active {
        padding: 0px 0px 10px 10px;
        border-left: solid black;
        color: black;
        border-left-width: 4px;
        font-size: 10px;
    }
}

.navbar-clear {
    background-color: #f5f5f5;
    border: 0px;
    border-radius: 0px
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 100px;
}

.navbar-nav.navbar-right {
    margin-right: 0;
}

.nav-btn-pdis {
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 29.5px 20px;
    display: block;
    background-color: transparent;
}

.nav-btn-pdis .icon-bar {
    background-color: #000;
    height: 3px;
    margin-top: 4px;
    width: 25px;
}

.nav-btn-pdis:hover {
    background-color: #f5f5f5;
}

.nav-btn-pdis:hover .icon-bar {
    background-color: white;
}

