<a class="btn" [routerLink]="['/']" role="button" style="padding:0px;">

<div *ngIf="logoType==='white'" style="float:left">
  <img id="logo" class="logo-white" src="assets/img/logo-02.svg">
</div>

<div *ngIf="logoType==='black'" style="float:left">
  <img id="logo" class="logo-black" src="assets/img/logo-01.svg">
</div>

<div *ngIf="logoType==='animate'" class="logo-animate-container">

  <div id="particles" class="particles">
  </div>
  <img id="logo" class="logo-animate" src="assets/img/logo-02.svg">
</div>

</a>
