<div class="main-container">
  <div class="slogan-container">
    <div class="slogan">
      <span>
        We are commited to open our work process
        <br>
        See and <span class="highlight">track</span> how we work day by day:
      </span>
    </div>
  </div>

  <div class="section-line"></div>
  <div class="tag-cloud">
    <ul class="cloud">
      <li *ngFor="let tag of tags"><a href="#">{{tag}} </a></li>
    </ul>
  </div>
  <div class="section-line"></div>
  <div class="tracktitle">Track.PDIS</div>

  <!-- Nav tabs -->
  <div class="card">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All</a></li>
      <li role="presentation"><a href="#speech" aria-controls="speech" role="tab" data-toggle="tab">Speeches</a></li>
      <li role="presentation"><a href="#meetings" aria-controls="meetings" role="tab" data-toggle="tab">Individual meetings</a></li>
      <li role="presentation"><a href="#conference" aria-controls="conference" role="tab" data-toggle="tab">Official conferences</a></li>
      <li role="presentation"><a href="#interview" aria-controls="interview" role="tab" data-toggle="tab">Media interviews</a></li>
      <li role="presentation"><a href="#others" aria-controls="others" role="tab" data-toggle="tab">Others</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="home">
        <ul class="timeline">
          <li *ngFor="let post of posts; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{post.title}}</p>
                <p class="participants"><span class="glyphicon glyphicon-user"></span> {{post.participants}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of post.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <!--<span class="glyphicon glyphicon-tag"></span>-->
                  <label class="tag" *ngFor="let tag of post.tags">{{tag}}</label>
                </p>
                <p class="date">{{post.date | date:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="speech">
        <ul class="timeline">
          <li *ngFor="let speech of speeches; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{speech.title}}</p>
                <p class="participants"><span class="glyphicon glyphicon-user"></span> {{speech.participants}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of speech.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <!--<span class="glyphicon glyphicon-tag"></span>-->
                  <label class="tag" *ngFor="let tag of speech.tags">{{tag}}</label>
                </p>
                <p class="date">{{speech.date | date:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="meetings">
        <ul class="timeline">
          <li *ngFor="let meeting of meetings; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{meeting.title}}</p>
                <p class="participants"><span class="glyphicon glyphicon-user"></span> {{meeting.participants}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of meeting.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <!--<span class="glyphicon glyphicon-tag"></span>-->
                  <label class="tag" *ngFor="let tag of meeting.tags">{{tag}}</label>
                </p>
                <p class="date">{{meeting.date | date:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="conference">
        <ul class="timeline">
          <li *ngFor="let conference of conferences; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{conference.title}}</p>
                <p class="participants"><span class="glyphicon glyphicon-user"></span> {{conference.participants}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of conference.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <!--<span class="glyphicon glyphicon-tag"></span>-->
                  <label class="tag" *ngFor="let tag of conference.tags">{{tag}}</label>
                </p>
                <p class="date">{{conference.date | date:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="interview">
        <ul class="timeline">
          <li *ngFor="let interview of interviews; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{interview.title}}</p>
                <p class="participants"><span class="glyphicon glyphicon-user"></span> {{interview.participants}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of interview.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <!--<span class="glyphicon glyphicon-tag"></span>-->
                  <label class="tag" *ngFor="let tag of interview.tags">{{tag}}</label>
                </p>
                <p class="date">{{interview.date | date:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="others">
        <ul class="timeline">
          <li *ngFor="let other of others; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{other.title}}</p>
                <p class="participants"><span class="glyphicon glyphicon-user"></span> {{other.participants}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of other.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <!--<span class="glyphicon glyphicon-tag"></span>-->
                  <label class="tag" *ngFor="let tag of other.tags">{{tag}}</label>
                </p>
                <p class="date">{{other.date | date:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>
    </div>
  </div>





</div>