<div class="main-container">
  <div class="slogan-container">
    <div class="slogan">
      <span>
        We are commited to open our work process
        <br>
        See and <span class="highlight">track</span> how we work day by day:
      </span>
    </div>
  </div>

  <div class="section-line"></div>
    <app-tag-cloud [width]="1000" [height]="200" [data]="tags" [removeOverflow]="true"></app-tag-cloud>
  <div class="section-line"></div>
  <!-- Nav tabs -->
  <div class="card">
    <ul class="nav nav-tabs" role="tablist">
      <li *ngFor="let object of total" role="presentation" [ngClass]="{'active':(object.category ==='All')}">
        <a href="#{{object.category}}" [attr.aria-controls]="object.category" role="tab" data-toggle="tab">{{object.category}}</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div *ngFor="let object of total" role="tabpanel" [ngClass]="{'tab-pane fade in active':(object.category ==='All'),'tab-pane fade':(object.category !=='All')}"
        id="{{object.category}}">
        <ul class="timeline">
          <li *ngFor="let post of object.posts; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{post.title}}</p>
              </div>
              <div class="timeline-body">
                <!--<p>
                  <a *ngFor="let media of post.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                  </p>-->
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <label class="tag" *ngFor="let tag of post.tags">{{tag}}</label>
                </p>
                <p class="date">{{post.date | datePipe:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>

      <!--<div role="tabpanel" class="tab-pane" id="speech">
        <ul class="timeline">
          <li *ngFor="let speech of speeches; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{speech.title}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of speech.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <label class="tag" *ngFor="let tag of speech.tags">{{tag}}</label>
                </p>
                <p class="date">{{speech.date | datePipe:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>-->
      <!--<div role="tabpanel" class="tab-pane" id="meetings">
        <ul class="timeline">
          <li *ngFor="let meeting of meetings; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{meeting.title}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of meeting.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <label class="tag" *ngFor="let tag of meeting.tags">{{tag}}</label>
                </p>
                <p class="date">{{meeting.date | datePipe:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>-->
      <!--<div role="tabpanel" class="tab-pane" id="conference">
        <ul class="timeline">
          <li *ngFor="let conference of conferences; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{conference.title}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of conference.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <label class="tag" *ngFor="let tag of conference.tags">{{tag}}</label>
                </p>
                <p class="date">{{conference.date | datePipe:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>-->
      <!--<div role="tabpanel" class="tab-pane" id="interview">
        <ul class="timeline">
          <li *ngFor="let interview of interviews; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{interview.title}}</p>
                <p class="participants"><span class="glyphicon glyphicon-user"></span> {{interview.participants}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of interview.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <label class="tag" *ngFor="let tag of interview.tags">{{tag}}</label>
                </p>
                <p class="date">{{interview.date | datePipe:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>-->
      <!--<div role="tabpanel" class="tab-pane" id="others">
        <ul class="timeline">
          <li *ngFor="let other of others; let i = index" [ngClass]="{'timeline-inverted':(i%2!==0)}">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <p class="title">{{other.title}}</p>
              </div>
              <div class="timeline-body">
                <p>
                  <a *ngFor="let media of other.content | JSONpipes:'not null object of array'" target="_blank" href="{{media | JSONpipes:'values'}}"
                    class="btn-{{media | JSONpipes:'keys' | lowercase}} btn-pdis" role="button">{{media | JSONpipes:'keys'}}</a>
                </p>
              </div>
              <div class="timeline-footer">
                <p class="tags">
                  <label class="tag" *ngFor="let tag of other.tags">{{tag}}</label>
                </p>
                <p class="date">{{other.date | datePipe:"yyyy/MM/dd"}}</p>
              </div>
            </div>
          </li>
          <li class="clearfix no-float"></li>
        </ul>
      </div>-->
    </div>
  </div>





</div>