$back_color: #4B0056;
$hightlight: #D66FE5;
$max_width: 1180px;
$main-font-family: 'Noto Serif', Georgia, serif; /* font options: Noto Serif, Open Sans Condensed, Slabo 27px */
$main-font-size: 22px;
$line-height-size:35px;


.detail-container{
    margin: 0 0 2.5vw 0;      
}

.detail-text{                              //設定 detailcomponent 文字及圖片樣式 
    justify-content:center;
    font-family: $main-font-family;
    font-size: $main-font-size;
    line-height: $line-height-size;
    p{                                      
        margin-top: 20px;
    }
    em img {                                //右邊文繞圖
        float: right;
        width: 450px;
        height: 300px;
        margin: 8px 0px 17px 35px;
    }
    strong img {                            //左邊文繞圖
        float: left;
        width: 450px;
        height: 300px;
        margin: 8px 35px 17px 0px;
    }
    img {                                   
        margin: 15px 0px 15px 0px;
    }
    dd{                                     //清除文繞圖效果
        clear: left;
    }
    blockquote{                             
        margin: -95px 0 -74px;
        border-left: 0px;
    }
    blockquote::before{                     //blockquote { 樣式
        content: "{";
        font-family: "Noto Serif", Georgia, serif;
        font-size: 135px;
        color: #ddd;
        position: relative;
        left: -66px;
        top: 146px;
    }
    blockquote::after{                      //blockquote } 樣式
        content: "}";
        font-family: Georgia, serif;
        font-size: 135px;
        color: #ddd;
        position: relative;
        left: 396px;
        top: -88px;
    }
}
.video-container {
        margin-bottom: 10px;
    }
    
@media screen and (max-width: 1200px) {     //螢幕小於1200px 消除 blockquote樣式
    .detail-text blockquote::after, .detail-text blockquote::before{
        content: "}";
        font-size: 0px;
        position: relative;
        left: 0px;
        top: 0px;
    }
}


@media screen and (max-width: 991px) {      //螢幕小於991px 改變成行動版本
   
    .detail-text img, .detail-text strong img, .detail-text em img {
        clear: left;
        top: 10px;
        width: 90%;
        height: 90%;
        border: 0px;
        margin-left: 17px;
    }
    .detail-text span img{                  //螢幕小於991px 改變成行動版本
        width: 40%;
        height: 40%;
    }
    .detail-text p,h2{
        margin: 25px 25px 25px 25px;
        word-break: break-all;
    }
         
    .video-container {
        padding-top: 65%;
    }
    .video-container iframe{
        position: absolute;
        top: 10px;
        left: 5%;
        width: 80%;
        height: 80%;
        border: 0px;
        margin-left: 17px;
    }
 }

@media screen and (min-width: 991px) {      //螢幕大於991px 圖片為滿版模式
    .detail-container img {
        width: 100%;
        height: 100%;
        border: 0px;
    }
}