
$main-font-family:'Georgia';
$main-font-size: 22px;
$line-height-size:35px;
.detail-container{
    margin: 0 0 2.5vw 0;
    
    
}
.detail-text{
    justify-content:center;
    font-family: $main-font-family;
    font-size: $main-font-size;
    line-height: line-height-size;
    p{
        margin-top: 20px;
    }
    em img {
        float: right;
        width: 450px;
        height: 300px;
        margin: 8px 0px 17px 35px;
    }
    strong img {
        float: left;
        width: 450px;
        height: 300px;
        margin: 8px 35px 17px 0px;
    }
    img {
        
        margin: 15px 0px 15px 0px;
    }
    dd{
        clear: left;
    }
    blockquote{
        margin: -90px 0 -50px;
        border-left: 0px;

    }
    blockquote::before{
    
        content: "{";
        font-family: Georgia, serif;
        font-size: 96px;
        color: #ddd;
        position: relative;
        left: -66px;
        top: 112px;
    }
    blockquote::after{
        content: "}";
        font-family: Georgia, serif;
        font-size: 96px;
        color: #ddd;
        position: relative;
        left: 420px;
        top: -77px;
    }
}
.video-container {
        margin-bottom: 20px;
    }
    
@media screen and (max-width: 1200px) {
    .detail-text blockquote::after{
        content: "}";
        font-size: 0px;
        position: relative;
        left: 0px;
        top: 0px;
    }
    .detail-text blockquote::before{
    
        content: "{";
        font-size: 0px;
        position: relative;
        left: 0px;
        top: 0px;
    }
}


@media screen and (max-width: 991px) {
   
    .detail-text img, .detail-text strong img, .detail-text em img {
        clear: left;
        top: 10px;
        width: 90%;
        height: 90%;
        border: 0px;
        margin-left: 17px;
    }
    .detail-text span img{
        width: 20%;
        height: 20%;
    }
    .detail-text p,h2{
        margin: 25px 25px 25px 25px;
        word-break: break-all;
    }
         
    .video-container {
        padding-top: 65%;
    }
    .video-container iframe{
        position: absolute;
        top: 10px;
        left: 5%;
        width: 80%;
        height: 80%;
        border: 0px;
        margin-left: 17px;
    }
 }

@media screen and (min-width: 991px) {
    .detail-container img {
        width: 100%;
        height: 100%;
        border: 0px;
    }
}