/* You can add global styles to this file, and also import other style files */

$back_color:#4B0056;
$hightlight:#D66FE5;
$max_width:1180px;
$main-font-family:'Georgia';
$main-font-size: 22px;
body {
    background-color: $back_color;
}

// p{
//     font-family: $main-font-family;
//     font-size: $main-font-size;
// }
.btn-pdis {
    padding: 12px 25px;
    background: transparent;
    border: solid 2px $back_color;
    font-family: 'Libre Franklin', sans-serif;
    color: $back_color;
    margin: 0px;
    display: inline-block;
    text-transform: uppercase;
}

.section-line {
    height: 1px;
    background: -moz-linear-gradient(left, rgba(214, 111, 229, 0) 10%, rgba(214, 111, 229, 1) 50%, rgba(214, 111, 229, 0) 90%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(214, 111, 229, 0) 10%, rgba(214, 111, 229, 1) 50%, rgba(214, 111, 229, 0) 90%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(214, 111, 229, 0) 10%, rgba(214, 111, 229, 1) 50%, rgba(214, 111, 229, 0) 90%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.highlight {
    color: $hightlight;
}

.main-container {
    background-color: #EFEFEF;
    box-shadow: 0 0 10px black;
    max-width: $max_width;
    margin: 150px auto 0;
}

.detail-container {
    margin: 2.5vw 0 2.5vw 0;
    .detail-text {
        justify-content: center;
        font-family: $main-font-family;
        font-size: $main-font-size;
        line-height: 35px;
    }
    em img {
        float: right;
        margin-left: 20px;
    }
    strong img {
        float: left;
        margin-right: 35px;
        width: 450px;
        height: 300px;
    }
    h2 {
        margin-bottom: 35px;
    }
    dd {
        clear: left;
        margin-bottom: 20px;
    }
}